
body{
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
}

header {
  background-color: rgb(245, 245, 245);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

ul {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 1rem;
  font-weight: bold;
}

li {
  font-size: 1em;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 96vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("./media/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
  color: white;
}

#hero h2{
  color: white;
  font-size: 2rem;
}
